<a href="https://colab.research.google.com/github/khan1652/class2022Spring/blob/main/20220321.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import(이미 설치되어 있지만 불러와야 하는 경우)/install/built-in <br>
라이브러리 또는 패키지 > 서브 디렉토리 > 함수

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

**pd.read_csv**함수는 csv파일을 불러옴. csv는 엑셀 파일 형태(.xls보다 일반적인 형태임). 텍스트가 ","로 정보가 분리됨.
엑셀 형식의 정보를 data frame이라고 함.

In [3]:
print(df.size); print(df.ndim); print(df.shape)
df.describe()

153000
2
(17000, 9)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

**df.size**는 rows*columns(몇 개의 cell인지 알려줌).
**df.ndim**은 몇 차원인지 알려줌.
**df.shape**는 (rows, columns).
**df.describe()**는 기본적 통계 정보를 알려줌(column별로 평균, 표준편차, 최솟값, 최댓값 등).

In [4]:
df.to_csv('california_housing_train.csv')

**df.to_csv**는 변수 형태에서 다시 csv 파일 형태로 저장함

In [5]:
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}

df = pd.DataFrame(data)
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

data에 dict를 저장한 이후 **pd.DataFrame(data)**를 통해 데이터 프레임을 만들어 줄 수 있음. 위에는 5개의 아이템이 나열돼있고, key(column 이름) : value(list형태)임. value의 수를 각 column마다 동일하게 맞춰줘야 함(위에는 5개).

In [7]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

**pd.Series**를 통해 내용을 먼저 구성한 후 **pd.DataFrame()**에 dict를 넣어주면 같은 결과가 출력됨.

In [6]:
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

**df.columns**는 column 명칭을 수정할 수 있음.

In [8]:
df.loc[:, 'sepal_length']  #모든 row, 특정 column
df['sepal_length']
df.sepal_length

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

하나의 column을 가져오는 방법 3가지

In [9]:
df.loc[:, ['sepal_length', 'sepal_width']]
df[['sepal_length', 'sepal_width']]  #list로 묶어줘야 함.

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

두개의 column을 가져올 수 있는 방법 2가지

In [11]:
df.loc[3, :]

sepal_length           5.4
sepal_width            3.0
petal_length           4.5
petal_width            1.5
SPECIES         versicolor
Name: 3, dtype: object

In [12]:
df.loc[[3, 0], :]

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
3           5.4          3.0           4.5          1.5  versicolor
0           6.9          3.2           5.7          2.3   virginica

In [13]:
df.loc[2:5, :]

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

In [14]:
df[df.sepal_length > 5]  #해당 column 값이 5보다 큰 경우만 가져옴.

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
3           5.4          3.0           4.5          1.5  versicolor

In [15]:
df.loc[:, 'sepal_length'][4]
df['sepal_length'][4]
df.sepal_length[4]

4.6

특정 cell을 불러올 수 있는 3가지 방법.

In [16]:
df['new_column'] = 1
df

,sepal_length,sepal_width,petal_length,petal_width,SPECIES,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

In [17]:
df['new_column'] = [1, 2, 3, 4, 5]
df

,sepal_length,sepal_width,petal_length,petal_width,SPECIES,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

새로운 column을 더해주는 방법.

In [18]:
df = df.drop('new_column', axis=1) # axis=1: column
df

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

**df.drop**은 column을 삭제하는 방법임. **axis=1**은 'new_column'을 열축에서 찾으라는 의미임.

In [19]:
df.loc[5, :] = ''   #blank string
df

  sepal_length sepal_width petal_length petal_width     SPECIES
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa
5

새로운 행을 추가하는 방법

In [20]:
df = df.drop(5, axis=0) # axis=0: row
df

  sepal_length sepal_width petal_length petal_width     SPECIES
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa

행을 삭제하는 방법. **axis=0**은 5를 행축에서 찾으라는 의미임.